
body {
	font: 14px/1.5 Arial, sans-serif;
}

.container {
	height: 300px;
	border: 1px solid #e3e3e3;
	padding: 15px;
	position: relative;

	.content {
		position: relative;
		border: 1px solid red;
	}
}

.lipov-scroll {
	overflow-y: scroll;
	position: relative;
}

.lipov-rail {
	position: absolute;
	width: 22px;
	background: #ddd;
}

.lipov-yrail {
	right: 0;
	top: 0;
	bottom: 0;
}

.lipov-rail-thumb {
	position: absolute;
	width: 22px;
	background: #888;
	height: 30px;
}
